body {
  font-family: "Arial", sans-serif;
  margin: 10px;

  background-color: #111;
  background-size: 10%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 10px;
  box-sizing: border-box;
  color: white;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.items {
  background-color: rgb(71, 52, 47);
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.navbar .item a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.dropdown{
  display:flex;
}
.navbar .item a:hover {
  background-color: rgb(255, 150, 150);
  color: whitesmoke;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a img {
  width: 25px;
  height: 20px;
  margin-left: 10px;

  margin-right: 15px;
}

.account {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
}

.account a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

#avatar img {
  width: 40px;
  height: 40px;
  border: 2px solid #888888;
  border-radius: 10%;
  margin-right: 30px;
}


#outline {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
#outline:hover {
  background-color: rgb(255, 150, 150);
}

@keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #644242;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  animation: moveDown 0.5s ease-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: moveDown 0.5s ease-out;
}

.dropdown-content a {
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.video-container {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  top: 50px;
  z-index: -1;
}

.video-container:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container video {
  width: 100%;
  height: auto;

}

.video-container .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.brownie
{align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  font-size: x-large;
}

.song-list{
  display: flex;
  justify-content: space-around;
}
.song-list img{
  width: 400px;
  margin: 20px;
}

.footer{
  margin-top: 100px;
}
.footer-item {
  width: 100%;
  left: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(71, 52, 47);
}


.footer-item a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-top: 20px;
}

.footer-item a:hover {
  background-color: rgb(255, 150, 150);
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 70px;
  justify-content: left
}
.avatar img{
  width: 150px;
  height: 150px;
  border: 2px solid #888888;
  border-radius: 10%;
  margin-right: 30px;
}

.plays{
  display: flex;
  justify-content: space-between;
}
.play-table{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  border: 1px solid white;
  width: 75vh;
}

.play-table th{
  padding: 10px;
  background-color: rgb(71, 52, 47);
  color: white;
}

.play-table td{
  padding: 10px;
  background-color: rgb(71, 52, 47);
  color: white;
}

.songlist{
margin-top: 75px;
text-align: center;
font-size: larger;
}

iframe{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.difficulty-select{
  justify-content: center;
  background-color: #644242;
padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.diff button{
  padding: 10px;
  margin: 10px;
  background-color: rgb(71, 52, 47);
  color: white;
  border-radius: 40%;
  cursor: pointer;
}

#single{
  background-color: rgb(255, 43, 39);
}

.cover
{
  display: flex;
  justify-content: space-evenly;
}

.chartslist{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.chartslist img{
  width: 400px;
  margin: 20px;
}

